*.class
*.log
*.swp
*.pyc
.DS_Store

smrt-server-link/db/*
# these dirs will be automatically created on startup
smrt-server-link/jobs-root
smrt-server-link/pacbio-bundles
smrtlink-events

smrt-server-analysis/db/*
smrt-server-analysis/jobs-root
test-data-smrt-server
smrt-server-analysis-internal/jobs-root
smrt-server-analysis-internal/analysis_services.db
extras/pbbundler/built-bundles/*

# Test Data
PacBioTestData
# Misc repos used for integration testing and data
repos/*
repos

test-data/smrtserver-testdata
test-output/*
jobs-root/*
profile.json
smrt-server-sim/sim*.log
smrt-server-sim/sim*.xml

# Chemistry bundles that are downloaded when running
pacbio-bundles

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
docs/_build/*
db/*
.idea

# ensime-specific
.ensime
.ensime_cache

# IntelliJ
.idea/*

# node
node_modules/*

# test detritus
pg/
tmp/
