*.class
*.log
*.swp

smrt-server-link/db/*
smrt-server-link/jobs-root
smrt-server-analysis/db/*
smrt-server-analysis/jobs-root
test-data-smrt-server
smrt-server-analysis-internal/jobs-root
smrt-server-analysis-internal/analysis_services.db

test-data/smrtserver-testdata
test-output/*
profile.json

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
docs/_build/*
db/*
.idea

# ensime-specific
.ensime
.ensime_cache

# IntelliJ
.idea/*
