<configuration debug="true">

    <!-- Taken from Ankit -->

    <logger name="akka" level="INFO"/>
    <logger name="scala.slick" level="INFO"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level[%thread] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <timestamp key="bySecond" datePattern="yyyy:MM:dd-HH:mm:ss" timeReference="contextBirth"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./base-smrt-server-${bySecond}-pacbio.log</file>
        <append>false</append>
        <encoder>
            <pattern> >|> %date{yyyyMMdd} %X{akkaTimestamp} -|- %-5level[%thread] -|- %logger{1} -|- %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>